.nav-bar {
  @extend .navbar;
  @extend .navbar-light;
  @extend .fixed-top;
  background-color: #89abbc;
  box-shadow: 0px 2px #5e8395;
}

.site-title {
  @extend .h4;
  color: black;
  text-decoration: none;
}

a.site-title {
  color: black;
  text-decoration: none;
}
