thequirkywebdev.com {
  log

  tls {
    protocols tls1.3
  }
  header / Strict-Transport-Security "max-age=63072000"

  encode zstd gzip

  respond / 200 {
    body "
~~~~~~~~~~~~~~~~~~~~~~
< Hello Quirky World >
~~~~~~~~~~~~~~~~~~~~~~
    \                                  ___-------___
     \                             _-~~             ~~-_
      \                         _-~                    /~-_
             /^\__/^\         /~  \                   /    \
           /|  O|| O|        /      \_______________/        \
          | |___||__|      /       /                \          \
          |          \    /      /                    \          \
          |   (_______) /______/                        \_________ \
          |         / /         \                      /            \
           \         \^\\         \                  /               \     /
             \         ||           \______________/      _-_       //\__//
               \       ||------_-~~-_ ------------- \ --/~   ~\    || __/
                 ~-----||====/~     |==================|       |/~~~~~
                  (_(__/  ./     /                    \_\      \.
                         (_(___/                         \_____)_) -------------
   \
    \
        .--.
       |o_o |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/"
        close.
  }
}
